@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  src: url('../fonts/NotoSans-Bold.ttf');
}

* {
  font-family: 'Noto Sans' !important;
}

body {
  font-weight: normal;
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 32px;
}

h2 {
  font-weight: bold;
  font-size: 24px;
}

.checkbox-columns {
  width: 50%;
  column-count: 2;
}

.slider {
  -webkit-appearance: none;
  height: 16px;
  border-width: 4px;
  border-style: solid;
  border-radius: 128px;
  outline: none;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-width: 4px;
  border-style: solid;
  border-radius: 128px;
  background-image: url('../images/icon32.png');
  cursor: pointer;
}

#wrapper1 {
  height: 280px;
  width: 520px;
  margin-top: 0;
  overflow: hidden;
}

#cover_art {
  height:280px;
  width: 180px;
  float: left;
  background-color: gray;
}

#cover_art > img {
  height: 280px;
  width: 180px;
}

#description {
  width: 335px;
  height: 280px;
  vertical-align: top;
  float: right;
  overflow-y: auto;
}

#description > h1 {
  margin: 2px;
}

#description > p {
  line-height: 100%;
  margin: 3px;
}

#footer {
  height: 10px;
  width: 500px;
  padding: 10px;
  overflow: hidden;
}

#refresh_button {
  height: 20px;
  width: 20px;
  background-color: brown;
  vertical-align: text-bottom;
  float: right;
}

#settings > a {
  float: left;
}
