body {
  color: #2f3c7e;
  background-color: #fbeaeb;
}

svg {
  fill: #2f3c7e;
}

.lbl-toggle {
  color: #fbeaeb;
  background: #2f3c7e;
}

.lbl-toggle::before {
  border-left-color: #fbeaeb;
}

.slider {
  border-color: #001751;
  background-color: #6066ae;
}

.slider::-webkit-slider-thumb {
  border-color: #001751;
}

#mal_link {
  color: #fbeaeb;
  background-color: #2f3c7e;
}

#refresh_button {
  border-color: #2f3c7e;
}
