body {
  color: #eeaabf;
  background-color: #411769;
}

svg {
  fill: #eeaabf;
}

.lbl-toggle {
  color: #411769;
  background: #eeaabf;
}

.lbl-toggle::before {
  border-left-color: #411769;
}

.slider {
  border-color: #bb7a8f;
  background-color: #ffdcf2;
}

.slider::-webkit-slider-thumb {
  border-color: #bb7a8f;
}

#mal_link {
  color: #411769;
  background-color: #eeaabf;
}

#refresh_button {
  border-color: #eeaabf;
}
