body {
  color: #eee8d5;
  background-color: #073642;
}

svg {
  fill: #eee8d5;
}

.lbl-toggle {
  color: #073642;
  background: #eee8d5;
}

.lbl-toggle::before {
  border-left-color: #073642;
}

.slider {
  border-color: #bbb6a4;
  background-color: #ffffff;
}

.slider::-webkit-slider-thumb {
  border-color: #bbb6a4;
}

#mal_link {
  color: #073642;
  background-color: #eee8d5;
}

#refresh_button {
  border-color: #eee8d5;
}
