body {
  color: #f9d342;
  background-color: #292826;
}

svg {
  fill: #f9d342;
}

.lbl-toggle {
  color: #292826;
  background: #f9d342;
}

.lbl-toggle::before {
  border-left-color: #292826;
}

.slider {
  border-color: #c2a200;
  background-color: #ffff75;
}

.slider::-webkit-slider-thumb {
  border-color: #c2a200;
}

#mal_link {
  color: #292826;
  background-color: #f9d342;
}

#refresh_button {
  border-color: #f9d342;
}
