body {
  color: #fff748;
  background-color: #3c1a5b;
}

svg {
  fill: #fff748;
}

.lbl-toggle {
  color: #3c1a5b;
  background: #fff748;
}

.lbl-toggle::before {
  border-left-color: #3c1a5b;
}

.slider {
  border-color: #c8c400;
  background-color: #ffff7d;
}

.slider::-webkit-slider-thumb {
  border-color: #c8c400;
}

#mal_link {
  color: #3c1a5b;
  background-color: #fff748;
}

#refresh_button {
  border-color: #fff748;
}
