body {
  color: #ed9268;
  background-color: #141a48;
}

svg {
  fill: #ed9268;
}

.lbl-toggle {
  color: #141a48;
  background: #ed9268;
}

.lbl-toggle::before {
  border-left-color: #141a48;
}

.slider {
  border-color: #b7633c;
  background-color: #ffc397;
}

.slider::-webkit-slider-thumb {
  border-color: #b7633c;
}

#mal_link {
  color: #141a48;
  background-color: #ed9268;
}

#refresh_button {
  border-color: #ed9268;
}
