body {
  color: #411769;
  background-color: #eeaabf;
}

svg {
  fill: #411769;
}

.lbl-toggle {
  color: #eeaabf;
  background: #411769;
}

.lbl-toggle::before {
  border-left-color: #eeaabf;
}

.slider {
  border-color: #18003e;
  background-color: #704298;
}

.slider::-webkit-slider-thumb {
  border-color: #18003e;
}

#mal_link {
  color: #eeaabf;
  background-color: #411769;
}

#refresh_button {
  border-color: #411769;
}
