@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  src: url('../fonts/NotoSans-Bold.ttf');
}

* {
  font-family: 'Noto Sans' !important;
}

body {
  font-weight: normal;
  font-size: 15px;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

h2 {
  font-weight: bold;
  font-size: 25px;
}

.slider {
  -webkit-appearance: none;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
  animation: sharingan 5s linear infinite;
}

@keyframes sharingan {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 32px;
  border: 0;
  background: url('../images/icon32.png');
  cursor: pointer;
}
