@font-face {
  font-family: 'Noto Sans';
  font-weight: normal;
  src: url('../fonts/NotoSans-Regular.ttf');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: bold;
  src: url('../fonts/NotoSans-Bold.ttf');
}

div {
  padding:20px;
  background:#eee;
  font-size:12px
}
